# ignoring pycache files
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# ignoring contents but keeping the folders of MRP data generation
country_data/extended_frames/*
!country_data/extended_frames/.gitkeep

data_generation/output/*
!data_generation/output/.gitkeep

# and other
country_data/panels/sweden_panel_active.csv
!country_data/panels/.gitkeep
country_data/stratification_frames/usa_strat_frame.csv