.DemographicChooserForPersona{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}


/* styling for dropdown modules DemographicChooser inserts */

.DemographicChoiceDropdown{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 30px;
}

.DemographicChoiceDropdown > p{
    text-transform: capitalize;
    color: #335058;
}

.DemographicChoiceDropdown > select{
    width: 200px;
    font-size: 16px;
    margin-top: 7px;

    background-color: #FCBFB7;

    border: 2px solid #335058;
    border-radius: 16px;
    padding: 4px;

    color: #335058;
}

.DemographicChoiceDropdown > select:hover{
    background-color: #e0aaa3;
}

.DemographicChoiceDropdown > select > option{
    background-color: #D1E3DD;
    color: #335058;
    border: 0;
    /* text-transform: capitalize; */
}

@media screen and (max-width: 450px){
    .DemographicChoiceDropdown > p{
        font-size: 12px;
    }

    .DemographicChoiceDropdown > select{
        font-size: 12px;
        margin-top: 8px;
        padding: 2px 4px;
    }
}