.PersonaChatExample{
    margin-bottom: 50px;
}

.PersonaChat{
    position: fixed;
    top: 30px;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgba(0,0,0,0.2); */
    z-index: 4;
}

#chat-bubble{
    position: relative;
    background-color: #334E58;
    border: 2px solid #D1E3DD;
    width: calc(60% - 50px);
    max-height: 635px;
    height: calc(75% - 50px);
    border-radius: 26px;
    padding: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#chat-close{
    width: 28px;
    aspect-ratio: 1;
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
}

#chat-close-cross{
    width: 100%;
    filter: brightness(0) saturate(100%) invert(92%) sepia(7%) saturate(300%) hue-rotate(109deg) brightness(99%) contrast(90%);
    pointer-events: none;
}

#persona-chat-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#chat-with-text{
    color: #D1E3DD;
    font-size: 14px;
    margin-bottom: 10px;
}

#persona-name{
    color: #FCBFB7;
    font-size: 24px;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 10px;
}

#anthro-warning{
    color: #FCBFB7;
    aspect-ratio: 1;
    border-radius: 100%;
    width: 24px;
    border: 2px solid #FCBFB7;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #335058;

    right: -35px;
    bottom: 0;
    z-index: 5;
}

#anthro-warning > p{
    font-size: 20px;
    color: #FCBFB7;
    z-index: 5;
}

#chat-not-real-warning{
    color: #335058;
    background-color: #FCBFB7;
    position: absolute;
    right: -167px;
    bottom: 15px;
    z-index: 1;

    padding: 8px 12px;
    border-radius: 16px;

    font-size: 10px;
}

#persona-chat-attributes{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.persona-chat-attributes-single{
    color: #D1E3DD;
    font-size: 12px;
    border-radius: 12px;
    border: 1px solid #D1E3DD;
    padding: 6px 10px;
    margin: 0 4px 10px 4px;
}


#persona-chat-history{
    height: 50%;
    width: 98%;
    padding: 0 1%;
    overflow-y: auto;
    overscroll-behavior: contain;
}

/* scrollbar for persona chat messages */

#persona-chat-history::-webkit-scrollbar {
  width: 8px;
}

#persona-chat-history::-webkit-scrollbar-track {
  background: rgba(255,255,255,0.1);
}

#persona-chat-history::-webkit-scrollbar-thumb {
  background: #D1E3DD;
}

#persona-chat-history::-webkit-scrollbar-thumb:hover {
  background: #c5d5cf;
}

#persona-chat-input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#persona-chat-input > input{
    height: 40px;
    border-radius: 16px;
    background-color: transparent;
    border: 2px solid #D1E3DD;
    color: #D1E3DD;
    padding: 0px 16px;
    width: calc(85% - 10px);
    margin-right: 10px;
}

#persona-chat-input > input::placeholder{
    color: #D1E3DD;
}

#persona-chat-input > div{
    background-color: #FCBFB7;
    height: 40px;
    aspect-ratio: 1;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#persona-chat-input > div:hover{
    cursor: pointer;
}

#persona-chat-input > div > img{
    filter: invert(26%) sepia(16%) saturate(1020%) hue-rotate(146deg) brightness(94%) contrast(86%);
    aspect-ratio: 1;
    height: 24px;
}


#chat-bubble-agree{
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 26px;
    width: calc(100% - 32% - 4px);
    height: calc(100% - 8% - 4px);
    z-index: 6;
    background-color: #334E58;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4% 16%;
    text-align: center;
    border: 2px solid #D1E3DD;
}

#chat-bubble-agree > p:nth-child(1){
    color: #D1E3DD;
    font-size: 30px;
    font-weight: 400;
}

#chat-bubble-agree > p:nth-child(2){
    color: #FCBFB7;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
}

#chat-bubble-agree > p:nth-child(3){
    color: #9BA9B0;
    font-size: 18px;
    margin-bottom: 20px;
    opacity: 0;
    animation: fade-in-agree 0.5s ease 0.55s forwards;
}

#chat-bubble-agree > p:nth-child(4){
    color: #D1E3DD;
    font-weight: 400;
    font-size: 19px;
    margin-bottom: 18px;
    opacity: 0;
    animation: fade-in-agree 0.5s ease 2s forwards;
}

#chat-bubble-agree > p:nth-child(5){
    color: #9BA9B0;
    font-size: 14px;
    margin-bottom: 50px;
    opacity: 0;
    animation: fade-in-agree 0.5s ease 4.5s forwards;
}

#chat-bubble-agree-buttons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    animation: fade-in-agree 0.5s ease 7s forwards;
}

#chat-bubble-agree-buttons > div:nth-child(1), #chat-bubble-agree-buttons > div:nth-child(2){
    color: #334E58;
    border-radius: 20px;
    font-weight: 400;
    padding: 10px 20px;
    font-size: 14px;
    transition: background-color 0.2s;
    pointer-events: none;
    animation: fade-in-pointer-event 0.5s ease 7s forwards;
}

#chat-bubble-agree-buttons > div:nth-child(1), #chat-bubble-agree-buttons > div:nth-child(2){
    cursor: pointer;
    transition: background-color 0.2s;
}

#chat-bubble-agree-buttons > div:nth-child(1){
    background-color: #9BA9B0;
}

#chat-bubble-agree-buttons > div:nth-child(1):hover{
    background-color: #889399;
}

#chat-bubble-agree-buttons > div:nth-child(2){
    background-color: #FCBFB7;
}

#chat-bubble-agree-buttons > div:nth-child(2):hover{
    background-color: #dda7a0;
}

@keyframes fade-in-agree{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@keyframes fade-in-pointer-event{
    0%{
        pointer-events: none;
    }

    100%{
        pointer-events: auto;
    }
}

@media screen and (max-width: 810px) {

    #chat-bubble{
        width: calc(80% - 50px);
    }

    #chat-close{
        width: 28px;
    }

    #chat-with-text{
        font-size: 12px;
    }

    #persona-name{
        font-size: 22px;
    }

    #anthro-warning{
        left: -35px;
    }

    #chat-not-real-warning{
        left: -140px;
        bottom: 15px;
        padding: 6px 10px;
        font-size: 8px;
        width: 100px;
    }

    .persona-chat-attributes-single{
        font-size: 11px;
        margin: 0 3px 10px 3px;
    }

    #chat-bubble-agree-buttons > div:nth-child(1), #chat-bubble-agree-buttons > div:nth-child(2){
        padding: 8px 10px;
        font-size: 12px;
    }

}

@media screen and (max-width: 450px) {
    #chat-bubble{
        width: calc(90% - 24px);
        height: calc(75% - 24px);
        padding: 12px;
    }

    #persona-name{
        font-size: 18px;
    }

    #chat-close{
        width: 20px;
    }

    .persona-chat-attributes-single{
        font-size: 8px;
        margin: 0 1.5px 8px 1.5px;
    }

    #chat-not-real-warning{
        left: -100px;
        bottom: 20px;
        font-size: 5px;
        width: 63px;
        /* transform: rotate(-20deg); */
    }

    #persona-chat-input > input{
        height: 26px;
        border-radius: 16px;
        padding: 0px 10px;
        font-size: 10px;
        width: calc(85% - 20px);
        margin-right: 5px;
    }

    #persona-chat-input > div{
        height: 26px;
        border-radius: 8px;
    }

    #persona-chat-input > div > img{
        height: 15px;
    }

    #persona-chat-history{
        height: 57%;
    }

    /* agree styling */

    #chat-bubble-agree{
        top: -1px;
        padding: 2% 10%;
        width: calc(100% - 20%);
        height: calc(100% - 4% + 3px);
    }

    #chat-bubble-agree > p:nth-child(1){
        font-size: 20px;
    }

    #chat-bubble-agree > p:nth-child(2){
        font-size: 20px;
        margin-bottom: 16px;
    }

    #chat-bubble-agree > p:nth-child(3){
        font-size: 12px;
        margin-bottom: 16px;
    }

    #chat-bubble-agree > p:nth-child(4){
        font-size: 12px;
        margin-bottom: 14px;
    }

    #chat-bubble-agree > p:nth-child(5){
        font-size: 8px;
        margin-bottom: 30px;
    }

    #chat-bubble-agree-buttons > div:nth-child(1), #chat-bubble-agree-buttons > div:nth-child(2){
        padding: 4px 6px;
        font-size: 8px;
    }
}