.PollingResults {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 32px; */
  padding: 40px 20px;
  width: calc(100% - 40px);
}

.PollingResults > div {
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

#polling-divider{
  width: 90%;
  height: 0;
  border-bottom: 2px dashed #335058;
}

#persona-selection{
  margin-top: 30px;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
}

#selection-explanation{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 50px;
}

#selection-explanation > h1{
  
}

#selection-explanation > p{
  margin-top: 20px;
  max-width: 800px;
}

