.vp-title {
  font-size: 1.15rem;
  font-weight: 700;
  color: #335058;
  margin-bottom: 6px;
  line-height: 1.4;
  font-family: "Unbounded", sans-serif;
  text-align:center;
  width: 100%;
}
/* .h3 {
  text-align: center;
} */

.pollingMap {
  display: flex;
  justify-content: center;
}