.PollingResults {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 32px; */
  padding: 40px 20px;
  width: calc(100% - 40px);
}

.PollingResults > div {
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

#polling-divider{
  width: 90%;
  height: 0;
  border-bottom: 2px dashed #335058;
  margin: 5px 0;
}

.exportButton{
  background-color: #334E58;
  border-radius: 34px;
  padding: 12px 30px;
  transition: background-color 0.2s;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px 5px;
}

.exportButton > p{
  color: #FCBFB7;
  font-size: 16px;
  font-weight: 400;
}

.exportButton > img{
  width: 20px;
  height: 20px;
  margin-left: 10px;
  filter: invert(76%) sepia(11%) saturate(871%) hue-rotate(318deg) brightness(105%) contrast(98%);
}

.exportButton:hover{
  cursor: pointer;
  background-color: #2b4149;
}

@media screen and (max-width: 450px) {
  .exportButton{
    padding: 6px 15px;
    width: 140px;
  }

  .exportButton > p{
    font-size: 10px;
  }

  .exportButton > img{
    width: 15px;
    height: 15px;
    margin-left: 8px;
  }

}