.CountrySwitch{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
    gap: 10px;
}

.countrySwitchItem{
    border: none;
    background: transparent;
    padding: 0;
    margin: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    transition: transform 0.1s ease-in-out;
}

.countrySwitchItem > img{
    width: 5vw;
}

.countrySwitchItem:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.1s ease-in-out;
}

.countrySwitchItem > .countryswitch-label{
    font-size: 0.95rem;
    font-weight: 700;
    color: #334E58;
    line-height: 1;
}

.countrySwitchItem > .countryswitch-label::after{
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: #334E58;
    transition: width 0.1s ease-in-out;
    
}

.countrySwitchItem.selectedIcon > .countryswitch-label::after{
    width: 100%;
    transition: width 0.3s ease-in-out;
}

@media screen and (max-width: 810px) {
    .countrySwitchItem > img{
        width: 15vw;
        margin: 3vw;

    }

    .countrySwitchItem > strong{
        font-size: 0.75rem;
    }
}

@media screen and (max-width: 450px){
    .countrySwitchItem > img{
        width: 15vw;
        margin: 3vw;

    }

    .countrySwitchItem > strong{
        font-size: 0.7rem;
    }
}