.CountrySwitch{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.CountrySwitch > img{
    width: 60px;
    margin: 0 8px;
    transition: transform 0.1s ease-in-out;
}

.CountrySwitch > img:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.1s ease-in-out;
}

.CountrySwitch > img.selectedIcon{
    /* styling for if one is selected */
}