header{
    min-height: 150px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;  
    background-color: transparent;

    padding: 0 3%;
    margin-bottom: 50px;
    transition: background-color 1s;
    transition: height 0.5s;

    position: sticky;
    top: 0;
    z-index: 5;
    pointer-events: none;
}

header > #header-left > h1{
    font-size: 100px;
    transition: color 0.5s;
    transition: font-size 0.5s;
}

header > #header-left > p{
    display: none;
    opacity: 0;
    transition: opacity 0.5s;
}

#header-right{
    display: flex;
    height: calc(100% - 30px);
    align-items: flex-start;
    padding-top: 30px;
}

#hamburger-and-nav{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    /* margin-right: 40px; */
}

#nav-links{
    display: none;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 26px;
    margin-bottom: 40px;
}

#nav-links > a{
    color: #D1E3DD;
    text-decoration: none;
    font-weight: 200;
    line-height: 1.9;
    font-size: 22px;
    pointer-events: auto;
}

#nav-links > a::after{
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background-color: #D1E3DD;
    transition: width 0.2s;
}

#nav-links > a:hover::after{
    width: 100%;
}

#lang-and-modeswitch{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

#lang-and-modeswitch > button{
    background-color: #D1E3DD;
    padding: 5px 12px;
    border: 2px solid #334E58;
    border-radius: 18px;
    transition: background-color 0.2s;
    margin-bottom: 10px;
    pointer-events: auto;
}

#lang-and-modeswitch > button:hover{
    cursor: pointer;
    background-color: #c6d7d2;
}

#modeswitch{
    border-radius: 18px;
    border: 2px solid #334E58;
    background-color: #334E58;
    width: 60px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    pointer-events: auto;
}

#modeswitch:hover{
    cursor: pointer;
}

#modeswitch-slider{
    border-radius: 18px;
    background-color: #FCBFB7;
    width: 35px;
    height: 26px;
    transition: transform 0.2s;
}

#modeswitch.modeslideon #modeswitch-slider{
    transform: translateX(25px);
}

/* HAMBURGER STYLING BELOW */

#hamburger-container{
    width: 30px;
    height: 30px;
    transition: transform 0.5s;
    cursor: pointer;
    position: relative;
    z-index: 3;
    pointer-events: auto;
}

#hamburger-left{
    background-color: #335058;
    height: 4px;
    width: 15px;
    transition: transform 0.5s;
    position: absolute;
    top: calc(50% - 2px);
}

#hamburger-right{
    background-color: #335058;
    height: 4px;
    width: 15px;
    transition: transform 0.5s;
    position: absolute;
    top: calc(50% - 2px);
    left: 15px;
}

#hamburger-left::before{
    content: '';
    background-color: #335058;
    height: 4px;
    width: 15px;
    transition: transform 0.5s;
    position: absolute;
    top: -10px;
}

#hamburger-right::before{
    content: '';
    background-color: #335058;
    height: 4px;
    width: 15px;
    transition: transform 0.5s;
    position: absolute;
    top: -10px;
}

#hamburger-left::after{
    content: '';
    background-color: #335058;
    height: 4px;
    width: 15px;
    transition: transform 0.5s;
    position: absolute;
    top: 11px;
}

#hamburger-right::after{
    content: '';
    background-color: #335058;
    height: 4px;
    width: 15px;
    transition: transform 0.5s;
    position: absolute;
    top: 11px;
}

/* STYLING FOR OPEN HAMBURGER */

#hamburger-container.nav-open #hamburger-left{
    background-color: transparent;
}

#hamburger-container.nav-open #hamburger-left::before{
    transform: rotateZ(45deg) scaleX(1.4) translate(2px, 2px);
    background-color: #D1E3DD;
}

#hamburger-container.nav-open #hamburger-left::after{
    transform: rotateZ(-45deg) scaleX(1.4) translate(2px, -2px);
    background-color: #D1E3DD;
}

#hamburger-container.nav-open #hamburger-right{
    background-color: transparent;
}

#hamburger-container.nav-open #hamburger-right::before{
    transform: rotateZ(-45deg) scaleX(1.4) translate(-2px, 2px);
    background-color: #D1E3DD;
}

#hamburger-container.nav-open #hamburger-right::after{
    transform: rotateZ(45deg) scaleX(1.4) translate(-2px, -2px);
    background-color: #D1E3DD;
}

/* open nav styling below */

header.nav-menu-open{
    background-color: #334E58;
    color: #D1E3DD;
    min-height: 150px;
}

header.nav-menu-open #modeswitch{
    border: 2px solid #D1E3DD;
}

header.nav-menu-open #modeswitch-slider{
    /* transform: translateX(25px); */
    border-right: 2px solid #D1E3DD;
}

header.nav-menu-open #modeswitch.modeslideon #modeswitch-slider{
    /* transform: translateX(25px); */
    border-left: 2px solid #D1E3DD;
    border-right: 0px;
}

header.nav-menu-open > #header-left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: calc(100% - 30px);
    padding-top: 30px;
}

header.nav-menu-open > #header-left >  h1{
    font-size: 30px;
    transition: font-size 0.5s;
    padding: 0 !important;
}

header.nav-menu-open > #header-left > p{
    color: #FCBFB7;
    font-size: 14px;
    width: 250px;
    margin-top: 10px;
    display: inline-block;
    opacity: 1;
    transition: opacity 0.5s;
}

header.nav-menu-open #nav-links{
    display: flex;
}

header.nav-menu-open > #header-right{
    padding: 30px 0 0 0 !important;
    margin: 0 !important;
    align-items: flex-start !important;
}

/* header styling for when scrolled past absolute of page */

header.header-scrolled > #header-left > h1{
    font-size: 30px;
    transition: font-size 0.5s;
    color: #D1E3DD;
    background-color: #334E58;
    padding: 10px 14px;
    border-radius: 20px;
}

header.header-scrolled > #header-left{
    padding-top: 30px;
}

header.header-scrolled > #header-right{
    background-color: #334E58;
    padding: 10px 14px;
    margin-top: 30px;
    border-radius: 20px;
    align-items: center;
}

header.header-scrolled #modeswitch{
    border: 2px solid #D1E3DD;
}

header.header-scrolled #modeswitch-slider{
    /* transform: translateX(25px); */
    border-right: 2px solid #D1E3DD;
}

header.header-scrolled #modeswitch.modeslideon #modeswitch-slider{
    /* transform: translateX(25px); */
    border-left: 2px solid #D1E3DD;
    border-right: 0px;
}


/* hamburger color switch when scrolled */

header.header-scrolled #hamburger-left{
    background-color: #D1E3DD;
}

header.header-scrolled #hamburger-right{
    background-color: #D1E3DD;
}

header.header-scrolled #hamburger-left::before{
    background-color: #D1E3DD;
}

header.header-scrolled #hamburger-right::before{
    background-color: #D1E3DD;
}

header.header-scrolled #hamburger-left::after{
    background-color: #D1E3DD;
}

header.header-scrolled #hamburger-right::after{
    background-color: #D1E3DD;
}


/* media queries */

@media screen and (max-width: 810px) {

    header > #header-left > h1{
        font-size: 60px;
    }

    header > #header-left {
        padding-top: 30px;
    }

    #nav-links > a{
        font-size: 20px;
    }

}

@media screen and (max-width: 540px){
    #nav-links > a{
        font-size: 17px;
    }
}

@media screen and (max-width: 450px) {
    header > #header-left > h1{
        font-size: 30px;
    }

    #nav-links > a{
        font-size: 14px;
    }

    header.nav-menu-open > #header-left > p{
        font-size: 10px;
    }

    header.header-scrolled > #header-left > h1{
        font-size: 23px;
    }

    header{
        min-height: 0px;
    }
    
}

@media screen and (max-width: 420px){
    #nav-links > a{
        font-size: 12px;
    }
}

@media screen and (max-width: 400px){
    #nav-links > a{
        font-size: 10px;
    }
}

@media screen and (max-width: 400px) {
    header.nav-menu-open > #header-left > p{
        font-size: 8px;
        max-width: 180px;
    }

    header.nav-menu-open > #header-left > h1{
        font-size: 20px;
    }

    #nav-links > a{
        font-size: 10px;
    }

}