.PopupDisclaimer{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 7;
}

#popupDisclaimerBox{
    border-radius: 30px;
    background-color: #ebb3ab;
    color: #335058;
    opacity: 0.9;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* position: fixed; */
    position: relative;
    z-index: 8;

    padding: 20px 30px;
    width: 40%;
    max-width: 500px;

    box-shadow: none;

    animation: popupZoomIn 0.225s ease-out;
}

#popupDisclaimerTop{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

#popupDisclaimerClose{
    aspect-ratio: 1/1;
    width: 20px;
    filter: brightness(0) saturate(100%) invert(28%) sepia(19%) saturate(812%) hue-rotate(146deg) brightness(90%) contrast(89%);
}

#popupDisclaimerClose:hover{
    cursor: pointer;
}

/* #popupDisclaimerContent{

} */

#popupDisclaimerContent > p{
    font-size: 18px;
    padding-right: 30px;
    line-height: 2;
    text-transform: uppercase;
}

@keyframes popupZoomIn {
    from {
        transform: scale(0.5);
        opacity: 0.25;
    }
    to {
        transform: scale(1);
        opacity: 0.85;
    }
}

@keyframes popupFadeOutOverlay {
    from {
        opacity: 0.3;
    }
    to {
        opacity: 0;
    }
}

.popupFadeOut{
    animation: popupFadeOutOverlay 0.225s ease-out forwards;
}

@media screen and (max-width: 810px) {

    #popupDisclaimerContent > p{
        font-size: 12px;
    }

}

@media screen and (max-width: 500px){
    #popupDisclaimerBox{
        width: 70%;
    }
}