.AboutPage{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 6%;
}

#about-intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#about-title{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: 840px;
}

#about-title > h1{
    width: 100%;
    text-align: justify;
    text-align-last: justify;
    font-size: 80px;
}

#about-title > h1:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#about-title > h1:nth-child(1) > span{
    font-size: 20px;
    text-transform: uppercase;
    color: #6B6D76;
}

#about-briefing{
    margin-top: 20px;
    line-height: 1.8;
    margin-bottom: 40px;
    /* max-width: 600px; */
    font-size: 22px;
}

.about-header{
    width: 100%;
    text-transform: uppercase;
    font-size: 36px;
    margin-bottom: 25px;
}

.about-header::after{
    content: "";
    display: block;
    width: 0;
    height: 2.5px;
    background-color: #335058;
    margin-top: 3px;
}

.header-underline-appear::after{
    animation: header-underline 0.69420s ease-in-out forwards;
}

.about-sectiontext{
    margin-bottom: 40px;
    max-width: 1000px;
    line-height: 1.5;
    font-size: 16px;
}

.about-sectiontext > strong{
    font-weight: 600;
}

#about-first-paragraph{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#about-first-paragraph > p{
    width: 70%;
}

#about-first-paragraph > img{
    display: inline;
    width: 20%;
    aspect-ratio: 2/3;
    flex-shrink: 0;
    object-fit: contain; 
    height: auto;
}

#about-whatwedo{
    display: flex;
    flex-direction: column;
    width: calc(100% - 8%);
    padding: 0 4%;
}

.about-whatwedo-item{
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.whatwedo-item-photo{
    border-radius: 50%;
    background-color: #FCBFB7;
    aspect-ratio: 1;
    height: 140px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.whatwedo-item-photo > img{
    aspect-ratio: 1;
    height: 70px;
}

.whatwedo-item-text{
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    font-size: 16px;
}

.whatwedo-item-text > h2{
    text-align: right;
    font-weight: 400;
    font-size: 22px;
}

.whatwedo-item-text > p{
    text-align: right;
    max-width: 350px;
}

.about-whatwedo-item:nth-child(even) { 
    flex-direction: row-reverse;
}

.about-whatwedo-item:nth-child(even) > .whatwedo-item-text > h2{
    text-align: left;
}

.about-whatwedo-item:nth-child(even) > .whatwedo-item-text > p{
    text-align: left;
}

.about-whatwedo-item:nth-child(even) > .whatwedo-item-photo{
    margin-right: 0;
    margin-left: 5px;
}

.about-whatwedo-item:nth-last-child(1){
    margin-bottom: 100px;
}

#about-commitments{
    display: flex;
    flex-direction: column;
}

#about-commitments > p{
    line-height: 1.5;
    max-width: 80%;
    margin-bottom: 30px;
    font-size: 16px;
}

#about-commitments > p > span{
    font-size: 22px;
    font-weight: 400;
    margin-right: 15px;
}

#about-team{
    margin-bottom: 80px;
}

@keyframes header-underline{
    0%{
        width: 0;
    }

    100%{
        width: 100%;
    }

}

@media screen and (max-width: 920px){
    #about-title{
        width: 630px;
    }

    #about-title > h1{
        font-size: 60px;
    }

    #about-title > h1:nth-child(1) > span{
        font-size: 16px;
    }

    #about-briefing{
        font-size: 20px;
    }
}

@media screen and (max-width: 810px){

    #about-title{
        width: 480px;
    }

    #about-title > h1{
        font-size: 46px;
    }

    #about-briefing{
        font-size: 17px;
    }

    #about-title > h1:nth-child(1) > span{
        font-size: 13px;
    }

    .about-header{
        font-size: 26px;
    }

    .about-sectiontext{
        font-size: 14px;
    }
    
    #about-first-paragraph{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #about-first-paragraph > img{
        /* display: none; */
        width: 20%;
    }

    #about-first-paragraph > p {
        width: 100%;
    }

    .about-whatwedo-item{
        margin-bottom: 40px;
        padding: 5%;
    }

    .whatwedo-item-photo{
        height: 100px;
    }

    .whatwedo-item-photo > img{
        height: 45px;
    }

    .whatwedo-item-text > p{
        font-size: 14px;
    }

    .whatwedo-item-text > h2{
        font-size: 20px;
    }

    .about-whatwedo-item:nth-last-child(1){
        margin-bottom: 80px;
    }


    #about-commitments > p{
        font-size: 14px;
        max-width: 100%;
    }

    #about-commitments > p > span{
        font-size: 20px;
    }

    #about-commitments{
        margin-bottom: 60px;
    }
}

@media screen and (max-width: 540px){
    #about-title{
        width: 378px;
    }

    #about-title > h1{
        font-size: 36px;
    }

    #about-briefing{
        font-size: 14px;
    }

    #about-title > h1:nth-child(1) > span{
        font-size: 10px;
    }

    #about-first-paragraph > img{
        display: none;
    }
}

@media screen and (max-width: 450px) {

    #about-title{
        width: 273px;
    }

    #about-title > h1{
        font-size: 26px;
    }

    #about-title > h1:nth-child(1) > span{
        font-size: 7px;
    }

    #about-briefing{
        font-size: 10px;
    }

    .about-header{
        font-size: 18px;
    }

    .about-sectiontext{
        font-size: 10px;
    }

    .about-whatwedo-item{
        margin-bottom: 30px;
    }

    .whatwedo-item-photo{
        height: 50px;
    }

    .whatwedo-item-photo > img{
        height: 20px;
    }

    .whatwedo-item-text > p{
        font-size: 10px;
    }

    .whatwedo-item-text > h2{
        font-size: 14px;
    }

    .about-whatwedo-item:nth-last-child(1){
        margin-bottom: 60px;
    }


    #about-commitments > p{
        font-size: 10px;
        max-width: 100%;
    }

    #about-commitments > p > span{
        font-size: 14px;
    }

    #about-commitments{
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 300px){
    #about-title{
        width: 187px;
    }

    #about-title > h1{
        font-size: 18px;
    }

    #about-title > h1:nth-child(1) > span{
        font-size: 5px;
    }

    #about-briefing{
        font-size: 8px;
    }
}

/* old temp css */

/* .AboutPage > h1{
    font-size: 50px;
    font-weight: 600;
}

.AboutPage > p{
    font-size: 20px;
    margin: 20px 0;
    line-height: 1.5;
}

@media screen and (max-width: 450px){
    .AboutPage > h1{
        font-size: 30px;
    }

    .AboutPage > p{
        font-size: 10px;
    }
} */